<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
import requests as r
import json

In [2]:
data = {'series': [{'key': 'Not Sure',
   'label': 'Not Sure',
   'data': [{'value': 46},
    {'value': 58},
    {'value': 72},
    {'value': 66},
    {'value': 55},
    {'value': 84},
    {'value': 40},
    {'value': 54},
    {'value': 32},
    {'value': 44},
    {'value': 49},
    {'value': 54},
    {'value': 59},
    {'value': 43},
    {'value': 78}]},
  {'key': 'No',
   'label': 'No',
   'data': [{'value': 70},
    {'value': 67},
    {'value': 68},
    {'value': 61},
    {'value': 103},
    {'value': 35},
    {'value': 50},
    {'value': 35},
    {'value': 40},
    {'value': 82},
    {'value': 33},
    {'value': 58},
    {'value': 42},
    {'value': 43},
    {'value': 45}]},
  {'key': 'Yes',
   'label': 'Yes',
   'data': [{'value': 45},
    {'value': 67},
    {'value': 51},
    {'value': 32},
    {'value': 25},
    {'value': 78},
    {'value': 39},
    {'value': 74},
    {'value': 65},
    {'value': 36},
    {'value': 79},
    {'value': 16},
    {'value': 60},
    {'value': 45},
    {'value': 71}]}],
 'common': {'metadata': {'type': 'text'},
  'data': [{'label': 'Aoke Langalanga', 'key': 'Aoke Langalanga'},
   {'label': 'Central Guadalcanal', 'key': 'Central Guadalcanal'},
   {'label': 'Central Honiara', 'key': 'Central Honiara'},
   {'label': 'Central Makira', 'key': 'Central Makira'},
   {'label': 'East Guadalcanal', 'key': 'East Guadalcanal'},
   {'label': 'East Honiara', 'key': 'East Honiara'},
   {'label': 'Gao Bugotu', 'key': 'Gao Bugotu'},
   {'label': 'Gizo Kolombangara', 'key': 'Gizo Kolombangara'},
   {'label': 'Lau Mbaelelea', 'key': 'Lau Mbaelelea'},
   {'label': 'Maringe Kokota', 'key': 'Maringe Kokota'},
   {'label': 'North Vella Lavella', 'key': 'North Vella Lavella'},
   {'label': 'North West Choiseul', 'key': 'North West Choiseul'},
   {'label': 'Russell Savo', 'key': 'Russell Savo'},
   {'label': 'Small Malaita', 'key': 'Small Malaita'},
   {'label': 'West Honiara', 'key': 'West Honiara'}]}}

In [3]:
output = r.get('http://localhost:4000/draft/results-barchart.json').json()

In [4]:
output

{'tooltip': {'trigger': 'axis', 'axisPointer': {'type': 'shadow'}},
 'legend': {'data': ['No', 'Yes', 'Not Sure'],
  'textStyle': {'fontSize': 20,
   'fontWeight': 'bold',
   'rotate': 315,
   'margin': 20,
   'width': '100%'}},
 'grid': {'left': '3%', 'right': '4%', 'bottom': '3%', 'containLabel': True},
 'xAxis': {'type': 'category',
  'data': ['Aoke Langalanga',
   'Central Guadalcanal',
   'Central Honiara',
   'Central Makira',
   'East Guadalcanal',
   'East Honiara',
   'Gao Bugotu',
   'Gizo Kolombangara',
   'Lau Mbaelelea',
   'Maringe Kokota',
   'North Vella Lavella',
   'North West Choiseul',
   'Russell Savo',
   'Small Malaita',
   'West Honiara'],
  'axisLabel': {'fontSize': 20,
   'fontWeight': 'bold',
   'rotate': 315,
   'margin': 20,
   'width': '100%'}},
 'yAxis': {'type': 'value',
  'axisLabel': {'fontSize': 18,
   'fontWeight': 'bold',
   'formatter': '{value} %',
   'rotate': 315,
   'width': '100%'}},
 'series': [{'name': 'No',
   'type': 'bar',
   'stack': 'total',
   'label': {'normal': {'fontSize': 20,
     'fontWeight': 'bold',
     'show': True,
     'position': 'inside',
     'formatter': '{c}%'}},
   'data': [43, 35, 36, 38, 56, 18, 39, 21, 29, 51, 20, 45, 26, 33, 23]},
  {'name': 'Yes',
   'type': 'bar',
   'stack': 'total',
   'label': {'normal': {'fontSize': 20,
     'fontWeight': 'bold',
     'show': True,
     'position': 'inside',
     'formatter': '{c}%'}},
   'data': [28, 35, 27, 20, 14, 40, 30, 45, 47, 22, 49, 12, 37, 34, 37]},
  {'name': 'Not Sure',
   'type': 'bar',
   'stack': 'total',
   'label': {'normal': {'fontSize': 20,
     'fontWeight': 'bold',
     'show': True,
     'position': 'inside',
     'formatter': '{c}%'}},
   'data': [29, 30, 38, 42, 30, 43, 31, 33, 23, 27, 30, 42, 37, 33, 40]}]}

In [5]:
#data = r.get('http://localhost:4000/data-barchart.json').json()
#output = r.get('http://localhost:4000/output-barchart.json').json()

In [6]:
ordered = pd.DataFrame([
    {'ordered':'Central Makira'},
    {'ordered':'East Guadalcanal'},
    {'ordered':'Central Guadalcanal'},
    {'ordered':'East Honiara'},
    {'ordered':'Central Honiara'},
    {'ordered':'West Honiara'},
    {'ordered':'Aoke Langalanga'},
    {'ordered':'Small Malaita'},
    {'ordered':'Lau Mbaelelea'},
    {'ordered':'Russell Savo'},
    {'ordered':'Gao Bugotu'},
    {'ordered':'Maringe Kokota'},
    {'ordered':'Gizo Kolombangara'},
    {'ordered':'North Vella Lavella'},
    {'ordered':'North West Choiseul'}
])

In [7]:
ordered.reset_index(level=0, inplace=True)

In [8]:
ordered

    index              ordered
0       0       Central Makira
1       1     East Guadalcanal
2       2  Central Guadalcanal
3       3         East Honiara
4       4      Central Honiara
5       5         West Honiara
6       6      Aoke Langalanga
7       7        Small Malaita
8       8        Lau Mbaelelea
9       9         Russell Savo
10     10           Gao Bugotu
11     11       Maringe Kokota
12     12    Gizo Kolombangara
13     13  North Vella Lavella
14     14  North West Choiseul

In [9]:
unordered = pd.DataFrame(data['common']['data'])

In [10]:
unordered

                    key                label
0       Aoke Langalanga      Aoke Langalanga
1   Central Guadalcanal  Central Guadalcanal
2       Central Honiara      Central Honiara
3        Central Makira       Central Makira
4      East Guadalcanal     East Guadalcanal
5          East Honiara         East Honiara
6            Gao Bugotu           Gao Bugotu
7     Gizo Kolombangara    Gizo Kolombangara
8         Lau Mbaelelea        Lau Mbaelelea
9        Maringe Kokota       Maringe Kokota
10  North Vella Lavella  North Vella Lavella
11  North West Choiseul  North West Choiseul
12         Russell Savo         Russell Savo
13        Small Malaita        Small Malaita
14         West Honiara         West Honiara

In [11]:
unordered.reset_index(level=0, inplace=True)

In [12]:
ordered_index = unordered.merge(ordered,left_on='key',right_on='ordered')
ordered_index = ordered_index.sort_values(by=['index_y'], ascending=True)
ordered_index = list(ordered_index['index_x'])

In [13]:
ordered_index

[3, 4, 1, 5, 2, 14, 0, 13, 8, 12, 6, 9, 7, 10, 11]

In [14]:
getLegend = lambda x : [y['key'] for y in x]

In [15]:
output['legend']['data'] = getLegend(data['series'])
output['xAxis']['data'] = list(ordered['ordered'])

In [16]:
for i,l in enumerate(output['legend']['data']):
    if i == 0:
        df = pd.DataFrame(data['series'][i]['data']).rename(columns={'value':i})
    else:
        df[i] = pd.DataFrame(data['series'][i]['data']).rename(columns={'value':i})[i]

In [17]:
df['sum'] = df.sum(axis = 1, skipna = True)
for i,l in enumerate(output['legend']['data']):
    df[i] = round(df[i] / df['sum'] * 100).astype(int)

In [18]:
df['order'] = pd.Series(ordered_index)

In [19]:
df = df.sort_values(by=['order'], ascending=True).reset_index()

In [20]:
def checkPercentage(allValues):
    index = 0
    diff = 0
    total = sum(allValues)
    if total < 100:
        index = allValues.index(min(allValues))
        diff = 100 - total
    elif sum(allValues) > 100:
        index = allValues.index(max(allValues))
        diff = 100 - total
    else:
        pass
    return [index,diff]

In [21]:
series = list(range(len(output["legend"]["data"])))

In [22]:
series

[0, 1, 2]

In [23]:
for i, rows in df.iterrows():
    new_list = []
    for a in series:
        new_list.append(rows[a])
    adjust = checkPercentage(new_list)
    df[adjust[0]][i] = df[adjust[0]][i] + adjust[1]

In [24]:
df

    index   0   1   2  sum  order
0       6  31  39  30  129      0
1       2  37  36  27  191      1
2       4  30  56  14  183      2
3       0  29  43  28  161      3
4       1  30  35  35  192      4
5       3  42  38  20  159      5
6      10  30  21  49  161      6
7      12  37  26  37  161      7
8       8  24  29  47  137      8
9      11  42  45  13  128      9
10     13  33  33  34  131     10
11     14  40  23  37  194     11
12      9  27  51  22  162     12
13      7  33  22  45  163     13
14      5  42  18  40  197     14

In [25]:
output['series'] = []
for i,l in enumerate(output["legend"]["data"]):
    output["series"].append({"name": l,
                             "type": "bar",
                             "stack": "total",
                             "label": {
                                 "normal": {
                                     "fontSize": 20,
                                     "fontWeight": "bold",
                                     "show": True,
                                     "position": "inside",
                                     "formatter": "{c}%"
                                 }
                            },"data": list(df[i])})

In [26]:
json = json.dumps(output)
# f = open("results-barchart.json","w")
f = open("json-source/testing.json","w")
f.write(json)
f.close()